<div class="col-xs-2">

</div>

<div class="col-xs-8 panel panel-default panel-wrapper">
  <div style="height: 70px;">
    <p style="font-size: 30px; text-align: center;">HEADER</p>
  </div>
  <div class="panel-leftheading">
    <div class="col-xs-4">
      <div style="margin-top:30px;">
        <p>CONTACT US</p>
        <hr>
      </div>
      <div>
        <p>CHAT</p>
        <hr>
      </div>
      <div>
        <p>SHARE</p>
        <hr>
      </div>
    </div>
  </div>
  <div class="panel-rightbody">

    <div class="card">
      <img class="card-img-top" src="https://i.ikman-st.com/1d0ad19e-b6e8-4573-82e4-0d01b3b509c5/780/585/fitted.jpg"
        alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>

      </div>
    </div>

  </div>
</div>

<div class="col-xs-2">

</div>